.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env

# terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate
.terraform.tfstate.backup
.terraform.lock.hcl
tfplan

# frontend build artifacts and dependencies
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
